*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    background: url('./images/bg2.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white; 
    overflow-x: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

header{
    display: flex; 
    color: white; 
    align-items: center;
    justify-content: space-evenly;
    background: black; 
    width: 100%; 
}

h1.game-title {
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    margin: 10px 0;
    font-family: 'Righteous', cursive;
}

#least-moves, #moves{
    font-size: 25px; 
    color: yellowgreen; 
    font-family: 'Silkscreen', cursive;
}

#game-info {
    z-index: 1;
    position: absolute; 
    top: 40%; 
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #560bad;
    border-top: 5px dashed black;
    border-bottom: 5px dashed black;
}

#game-msg{
    font-weight: 700;
    font-size: 34px; 
    margin: 10px auto; 
}

.btn{
    padding: 10px 25px; 
    border: none;
    border-radius: 5px;
    font-size: 18px; 
    color: white; 
    cursor: pointer;
    margin-top: 10px; 
    margin-right: 20px; 
    width: 100px; 
}

.yes-btn{
    background: #80b918; 
}

.no-btn{
    background: #ba181b;
}

#quit-btn{
    background: darkorange;
    margin: 0;
    visibility: hidden; 
    margin-bottom: 20px; 
}

.btn:hover{
    opacity: 0.8; 
}

.quit-btn-grp{
    display: none; 
}

.success-btn-grp{
    display: none; 
}

.restart-btn{
    /* display: none;  */
    background: orangered; 
}

.icon{
    margin: 0 auto; 
    font-size: 70px; 
}

#game{
    display: flex;
    visibility: hidden; 
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; 
    margin: 20px auto 10px; 
    padding: 10px;
}

#game div {
    border: 1px solid white;
    width: 10%; 
    min-height: 50px;
    min-width: 50px; 
    margin: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.hide{
    background: #e5989b; 
}

@media all and (max-width: 480px){

    header{
        flex-direction: column;
    }

    h1.game-title{
        font-size: 30px; 
        order: -1;
    }

    #least-moves, #moves{
        font-size: 18px; 
    }

    #moves{
        margin-bottom: 10px;
    }

    #game-info{
        height: 150px; 
    }

    #game-msg{
        font-size: 24px; 
    }

    #game{
        margin-top: 10px; 
        margin-bottom: 5px; 
    }

    #game div{
        width: 50px; 
        height: 50px; 
    }
}